# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
venv/
.env.*

# Logs / runtime
*.log
logs/
*.sqlite3

# Docker
docker-compose.override.yml
*.tar

# Node / Frontend
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
